*.csv
*.log
*.out
__pycache__/*
*.pyc
img/*
img
*.png
*.svg
*.pdf
log.txt
*.zip
*.7z
log_tmp/*
*.egg-info/
wandb/
__pycache__/
*.pkl
*.pt
*.pth
*.dat
*.mp4
*.png
log/*
events.out.*
back_run.sh
multirun/
config.json
*.tar.gz
*.whl
*.so
*.service
*.hyperopt
*.valid
trash